@font-face {
    font-family: 'Pokemon Solid';
    src: url("../fonts/PokemonSolid.ttf");
}
html, body {
    margin: 0;
    padding: 0;
    color: gray;
}

body {
    background-image: url("../img/email-pattern.png");
    font-family: 'Ubuntu', sans-serif;
}

header {
    text-align: center;
    background-color: rgba(231, 240, 109, 0.2);
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;
    font-size: 5rem;
    -webkit-text-stroke: 2px blue;
}

.container {
    margin: 5px 25px;
    padding: 0 25px;
}

h2 {
    text-align: center;
}

.container-dex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    margin-bottom: 10px;
}
  
.header {
    height: 5rem;
    background: rgba(231, 240, 109, 0.2);
    color: white;
    text-align: center;
}
  
.container {
    padding: 2px 16px;
    text-align: center;
}

img {
    width:  75px;
    height: 75px;
    object-fit:fill;
}

.pokemon-name {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.2rem;
    color: gray;
}


@media (max-width: 1024px) {
    .card {
        min-width: 45%; 
    }
}
  
@media (max-width: 480px) {
    .card {
        min-width: 100%; 
    }
}