body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../img/email-pattern.png");
}

header {
    text-align: center;
}


#information {
    font-weight: 700;
}

.container {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 20%;
}

.btn {
    margin: 0 25%;
}

.places-container {
    display: flex;
    flex-direction: column;
}


img {
    width: 266px;
    height: 400px;
}

.column-data {
    display: flex;
    flex-direction: row;
    margin: 15px 15px;
}

.wiki {
    margin: auto 0;
}



@media (max-width: 1024px) {
    .column-data {
        /*min-width: 45%;*/
        margin: 0 auto;
        flex-direction: column;
    }
    img {
        margin: 0 auto;
    }
}
  
@media (max-width: 480px) {
    .column-data {
        /*min-width: 100%;*/
        margin: 0 auto;

        flex-direction: column;
    }
    img {
        margin: 0 auto;
    }
}